<!DOCTYPE html>
<html>
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <title>Enron Emails</title>
</head>

<body>
  {% include 'search.html' %}

  <div class="jumbotron" style="background-color:white; text-align:center">
    <h1>✉️ 🧐 Search Enron emails</h1>
    <br>
    <h4>A simple client intended for searching locally without a connection to the internet.</h4>
    <br>
    <p>The Enron email dataset, released during the investigation of its lawsuit, contains emails exchanged by senior management of Enron. <a href="https://github.com/jw122/enron_search">Learn more</a></p>
    <p>This demo is currently using a subset of the data.</p>
  </div>

  <div class="container">
    <div style="display:inline-block">
      <!-- <form>
        <input id=search_field type=text size=20 name=proglang>
        <a href=# id=process_input><button class='btn btn-default'>Submit</button></a>
      </form> -->

      <form class="form-inline" style="margin-top:5%">
        <div class="form-group mx-sm-3 mb-2">
          <input type="text" class="form-control" id="search_field" placeholder="Enter a word">
        </div>
        <button type="submit" onclick="getResults();return false;" id=process_input class="btn btn-warning mb-2">Submit</button>
      </form>
    </div>

    <div style="display:inline-block; margin-left:60%; width:40%">
        <div id="resultDiv">

        </div>
    </div>
  </div>


</body>


</html>
