<script type=text/javascript>
  $(function(){
    $('#search_field').autocomplete({
        source: function(request, response) {
          console.log("request: ", request)

            var req = $.ajax({
                url: '/get_completions',
                dataType: 'json',
                data: {
                    search_term : request.term
                },

                  success: function (data) {
                    var results = []
                    console.log("data on success: ", data.result)
                    response(data.result)
                },
                error: function(err, result) {
                      alert("Error");
                }
            })
        },
        minLength: 1,
        select: function(event, ui) {
          console.log("selected: ", ui.item.value)
          getResults(ui.item.value)
        }
    });
  })

		$(function(){
      var timer;
      var keyUpInterval = 1000;

      //on keyup: stopped typing. Countdown starts
      $('#search_field').keyup(function(){
          clearTimeout(timer);
          if ($('#search_field').val()) {
              timer = setTimeout(getResults, keyUpInterval);
          }
      });

      // USE THIS IF SEARCHING AT EACH KEYSTROKE, NO WAIT FOR INPUT PAUSE
			// $('#search_field').keyup(function(event) {
			// 	var inpt = $('#search_field').val()
			//   	console.log("key pressed: ", inpt)
			//   	if (inpt.length > 0) {
			// 		$.getJSON('/get_emails', {
			// 		  term: inpt,
			// 		}, function(data) {
			// 			console.log("email results: ", data.result)
			// 		  $("#result").text(JSON.stringify(data.result));
			// 		});
			// 		return false;
			//   	}
      //
			// });

		});

      //user is done typing
      function getResults (inpt) {
          if (!inpt) {
            // If no input passed in from selection
            inpt = $('#search_field').val()
          }
          // var inpt = $('#search_field').val()
			  	console.log("key pressed: ", inpt)
			  	if (inpt.length > 0) {
					$.getJSON('/search', {
					  term: inpt,
					}, function(data) {

            if (!data) {
              console.log("no data for term ", inpt)

            } else {
              $("#resultDiv").empty();
              $("#resultDiv").append(`<h4>Emails containing keyword "${inpt}":</h4>`)
  						console.log("email results: ", data.result)

              Object.keys(data.result).forEach(function(key, index){
                // console.log("key: ", key)
                $("#resultDiv").append(`
                  <div class="card bg-dark mb-3" style="width: 18rem; margin-top:3%">
                  <div class="card-header text-white">
                    ${key}
                  </div>
                    <ul id=line-"${key}" class="list-group list-group-flush">
                        <li class="list-group-item">${data.result[key]}</li>
                    </ul>
                  </div>
                  `);
              })
            }
					});
			  	}
      }

</script>
